#grey-bar {
    background-color: rgb(214, 211, 211);
    width: 100%;
    height: 125px;
}

#blue-square {
    background-color: rgb(6, 145, 231);
    height: 75px;
    width: 75px;
    position: relative;
    top: 25px;
    left: 25px;
}

#paragraph {
    background-color: white;
    margin: 60px;
}

#block1 {
    width: 100%;
    height: 25vh;
    background-color: rgb(6, 145, 231);
}

#block2 {
    width: 100%;
    height: 25vh;
    background-color: aquamarine;
}

#block3 {
    width: 100%;
    height: 25vh;
    background-color: lightgreen;
}

#block4 {
    width: 100%;
    height: 25vh;
    background-color: yellow;
}

#floating-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#question-mark {
    color: white;
    font-size: 250%;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    right: 38px;
}